*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#eef6ff;
padding:40px;
}

h1{
text-align:center;
color:#0f4c81;
margin-bottom:40px;
}

.container{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:30px;

}

.card{

background:white;

border-radius:15px;

overflow:hidden;

box-shadow:0 8px 18px rgba(0,0,0,.15);

transition:.3s;

}

.card:hover{

transform:translateY(-8px);

box-shadow:0 12px 25px rgba(0,0,0,.25);

}

.card img{

width:100%;

height:250px;

object-fit:cover;

}

.card p{

padding:15px;

text-align:center;

font-size:18px;

color:#444;

}

.error{

text-align:center;

font-size:22px;

color:red;

margin-bottom:30px;

}